# Dependencies
node_modules/
.pnpm-store/

# Build and output directories
build/
dist/
out/
web-build/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.metro.log

# Expo / React Native
.expo/
.metro-health-check*

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata/

# Android
android/build/
android/app/build/
android/.gradle/
android/captures/
android/local.properties
android/.idea/
*.apk
*.aab
*.keystore

# Environment variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# IDEs and Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.swp
*.swo

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
